<!DOCTYPE html>
<head>
  <link href="public/bootstrap.min.css" rel="stylesheet">
  <link href="login.css" rel="stylesheet">
  <script src="public/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <title>Login</title>
  <script>
      function logincheck(){
         const ckid = document.forms[0].elements[0].value
         const ckpwd = document.forms[0].elements[1].value
         if(ckid == ""){
            alert("Please enter your Id");
            return false;
         };
         if(ckpwd == ""){
            alert("Please enter your Password"); 
            return false;
         };
      };      
    </script>
</head>
<body>
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <h5>Welcome</h3>
      </div>
      
      <!-- Login Form -->
      <form name="login" onsubmit="return logincheck()" action="/" method="POST">
        <input type="text" id="userid" class="fadeIn second" name="userid" placeholder="id">
        <input type="password" id="password" class="fadeIn third" name="password" placeholder="password">
        <input type="submit" class="fadeIn fourth" value="Log In">
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="/signup">Sign up</a>
      </div>
  
    </div>
  </div>
</body>
</html>