<!DOCTYPE html>
<head>
  <link href="public/bootstrap.min.css" rel="stylesheet">
  <link href="login.css" rel="stylesheet">
  <script src="public/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <h5>Welcome</h3>
      </div>
  
      <!-- Login Form -->
      <form>
        <input type="text" id="id" class="fadeIn second" name="id" placeholder="id">
        <input type="password" id="password" class="fadeIn third" name="password" placeholder="password">
        <input type="submit" class="fadeIn fourth" value="Log In">
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="/signup">Sign up</a>
      </div>
  
    </div>
  </div>
</body>
</html>